:root {
    --page-links: #d4d4d4;              /* [[Page Link]] */
    --attributes-color: #b49d7d;        /* Attribute:: */
    --external-links: #66B5F4;          /* https://www.google.com */
    --links-hover: #ff6f00;             /* hover color of all links */
    --hashtags: #77c691;                /* #hashtag #[[hash tags]] */
    --body-text: #FFFFFFB2;             /* general body text */
    --italics-color: #b49d7d;           /* __italicized text__ */
    --bold-color: #b49d7d;              /* **bolded text** */
    --highlight-text-color: #d8dadb ;   /* highlighted text color */
    --highlighter: #3b5e39;             /* highlighter color */
    --background: #26272a;              /* main page background */
    --sidebar-background: #1e1e1e;      /* sidebar background */
    --sidebar-text: #c3bca8;            /* sidebar text  */
    --page-heading: #F4B288;            /* Page Title (i.e. roam/css) */
    --daily-heading: #F4B288;           /* Daily Notes date heading */
    --headings: #da844f;                /* h1, h2, h3 */
    --bullets: #394b59;                 /* bullet color */
    --closed-bullets: #b49d7d;          /* closed bullet color */
    --references: #b49d7d;              /* reference underline color */
    --block-reference-text: #b49d7d;    /* block reference color */
    --namespaces: #65bf38;              /* Namespace/color (win: ctrl+c ctrl+L) or (mac: cmd+c cmd+L) */
    --all-pages-mentions: #F79A18;      /* mentions pill on ALl Pages */
    --cursor: #FFFFFF;                  /* cursor color */
    /* ICON COLORS */ 
    --icons: #75c6a3;                   /* icons color */
    --icons-hover: #00f800;             /* icons hover color */
    --filter-icon: #FF0000;             /* filter icon color */
    /* FONT SIZES */             
    --page-head-font-size: 36px;          /* page heading */
    --h1-font-size: 1.8em;                /* h1 size */
    --h2-font-size: 1.4em;                /* h2 size */
    --h3-font-size: 1.2em;                /* h3 size */
    /* DROPDOWN MENU */
    --dropdown-menu-text: #da844f;      /* Text color in dropdown menus */
}

/*////////////////////////////////*/
/*                                */
/*     Container Sizing Fixes     */
/*                                */
/*////////////////////////////////*/
/* COMMENTING OUT UNTIL FIXED
.roam-center div:first-child {
    padding-right: calc((100% - 900px) / 2) !important;
}

.roam-block-container {
    max-width: calc(1024px - 80px);
}
.roam-center .roam-article .rm-block-text {
    max-width: 680px;
}

#right-sidebar #roam-right-sidebar-content .rm-block-text {
     max-width: 680px;
}

*/
.roam-block {
    min-height: calc(1em + 8px);
}


/* Table Cell sizing */
td {
    padding: 8px 8px !important;
    text-align: center;
    min-width: 40px !important;
  }
  
/* Menu Overlay fix */

.bp3-elevation-3 {
    z-index: 2000 !important;
  }
  

/* Vertical centering Horizontal rules and headings  */

  hr {
    margin-top: 10px;
    margin-bottom: 0px;
  }
  
  h3.rm-level3 {
        margin-top: -3px !important;
  }
  h2.rm-level2 {
        margin-top: -4px !important;
  }
  h1.rm-level1 {
        margin-top: -5px !important;
  }

/*/////////////////////////////////////*/
/*                                     */
/*     General Background Coloring     */
/*                                     */
/*/////////////////////////////////////*/

/* MAIN BACKGROUND COLOR */
body, .roam-body-main {
    background-color: var(--background);
}

/* TOPBAR  & SIDEBAR BACKGROUND COLORS */
#right-sidebar, .roam-topbar, .roam-sidebar-container {
    background-color: var(--sidebar-background) !important;
}

.roam-topbar {
  border-bottom: 0px;
}

/* BLOCKS BACKGRROUND */
.roam-block > span > div {
    background-color: inherit !important;
}

.roam-bullet-closed {
    background-color: var(--closed-bullets) !important;
}

.simple-bullet-inner {
    background-color: var(--bullets) !important;
}

.rm-caret, .bp3-icon-standard {
    color: #fffc !important;
    opacity: 1 !important;
}

.bp3-icon-standard:hover {
    color: var(--icons-hover) !important;
}

.bp3-menu .bp3-icon-standard{
    color: #2f2f2f !important;
}

#roam-sidebar-logo:hover {
  background: transparent !important;
}

#roam-sidebar-logo img, #roam-sidebar-logo div span {
  	transition: color .3s ease;
}

#roam-sidebar-logo:hover div span {
  color: var(--links-hover) !important;
  transition: color .3s ease;
}

/*//////////////////////////////*/
/*                              */
/*     General Text Styling     */
/*                              */
/*//////////////////////////////*/

/* Main Font Size  WIP

div {
    font-size: var(--main-font-size) !important;
}
*/

/* Heading Sizes */

h1 {
    font-size: var(--page-head-font-size) !important;
}

.rm-level1 {
    font-size: var(--h1-font-size) !important;
}

.rm-level2 {
    font-size: var(--h2-font-size) !important;
}

.rm-level3 {
    font-size: var(--h3-font-size) !important;
}


/* Cursor color */
.roam-body .roam-app {
    caret-color: var(--cursor) !important;
}

/* Body text color */
.roam-body .roam-app {
    color: var(--body-text) !important;
}

/* sidebar text color */
.page, .log-button, .starred-pages-wrapper {
    color: var(--sidebar-text) !important;
  	font-weight: 600;
    transition: color .3s ease;
}

/* sidebar text hover color */
.page:hover, .log-button:hover {
    color: var(--links-hover) !important;
    text-decoration: none !important;
    transition: color .3s ease;
    background: transparent !important;
}

/* Heading/Header Colors, includes Date header on daily notes */
h1, h2, h3 {
    color: var(--headings) !important;
}

/* Page title & Daily date color */
.rm-title-display {
    color: var(--page-heading) !important;
  }
  
.roam-log-page .rm-title-display {
    color: var(--daily-heading) !important;
  }

.roam-log-page.roam-log-preview h1 {
    color: var(--daily-heading) !important;
}

/* main link coloring + hover */
a {
  	color: var(--external-links) !important;
    transition: color .3s ease;
}

/* Internal Roam Links [[Roam]] & #Roam & #[[Roam]] */
.rm-page-ref-tag, .rm-page-ref-link-color, .rm-ref-page-view-title a, .bp3-text-overflow-ellipsis a, .rm-pages-title-text strong, .rm-page-ref {
    color: var(--page-links) !important;
    font-weight: 700;
    transition: color .3s ease;
}

.rm-page-ref-tag {
    color: var(--hashtags) !important;
    font-weight: 400;
}

.rm-page-ref-tag:hover, .rm-pages-title-text strong:hover, .rm-page-ref:hover {
    color: var(--links-hover) !important;
    text-decoration: none;
    transition: color .3s ease;
}

h1.level1 a, h1.level2 a, h1.level3 a, h1.level4 a,
h2.level1 a, h2.level2 a, h2.level3 a, h2.level4 a,
h3.level1 a, h3.level2 a, h3.level3 a, h3.level4 a,
h4.level1 a, h4.level2 a, h4.level3 a, h1.level4 a { 
    color: var(--page-links) !important;
    font-weight: 600;
}

h1.level1 a:hover, h1.level2 a:hover, h1.level3 a:hover, h1.level4 a:hover,
h2.level1 a:hover, h2.level2 a:hover, h2.level3 a:hover, h2.level4 a:hover,
h3.level1 a:hover, h3.level2 a:hover, h3.level3 a:hover, h3.level4 a:hover,
h4.level1 a:hover, h4.level2 a:hover, h4.level3 a:hover, h4.level4 a:hover { 
    color: var(--links-hover) !important;
    font-weight: 600;
}

.rm-page-ref-link-color:hover, a:focus, a:hover {
    color: var(--links-hover) !important;
    text-decoration: none !important;
    transition: color .3s ease;
}

/* Attribute links */
strong[tabindex="-1"] {
    color: var(--attributes-color) !important;
  }

/* ToDos color + Z-index Fix */
.check-container input:checked ~ .checkmark {
    background-color: #FFFFFF;
    background-color: rgb(27, 159, 28);
}

.check-container {
    z-index: 1000;
}

/* remove underlining on links */
span {
    text-decoration: none !important;
}

/* path text color for linked references */
.parent-path-wrapper {
    color: var(--references);
}

em {
    color: var(--italics-color);
}

strong {
    color: var(--bold-color);
}


/* block reference */
.roam-block .rm-block-ref, span[style*="color: red"] {
    background-color: transparent !important;
    color: var(--block-reference-text) !important;
    transition: color .3s ease, border .3s ease;
    border-bottom: 1px solid var(--block-reference-text);
    
}

.rm-block-ref:hover {
    background-color: transparent !important;
    color: var(--links-hover) !important;
    transition: color .3s ease, border .3s ease;
    border-bottom: 1px solid var(--block-reference-text);
}

/* Namespace text color [[roam/css]] when using CTRL+C CTRL+L || CMD+C CMD+L */

.rm-page-ref-namespace-color {
    color: var(--namespaces) !important;
    font-weight: 600;
    transition: color .3s ease;
}

.rm-page-ref-namespace-color:hover {
    color: var(--links-hover);
    text-decoration: none;
    transition: color .3s ease;
}


/* Highlights */

.roam-highlight {
    color: var(--highlight-text-color);
    background-color: var(--highlighter);
}

.block-highlight-yellow {
    background: #6e6b5e8c !important;

}

/*///////////////////////////*/
/*                           */
/*     Reference Section     */
/*                           */
/*///////////////////////////*/

/* Reference Background Color + Spacing Fixes */
.rm-reference-item {
    background-color: transparent;
    margin: 10px 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--references);
}

.rm-level1 {
    margin-bottom: 20px;
}

/* Reference Section Divider */
.rm-reference-container {
    border-top: 5px double var(--references);
    padding-top: 15px;
}

/*///////////////////*/
/*                   */
/*     Search Box    */
/*                   */
/*///////////////////*/

/* Search box background color */
.bp3-input, .rm-pages-toolbar .toolbar-search-group .search-input {
    background: rgba(255, 255, 255, .05);
}

/* Search box placeholder text color */
.bp3-input::placeholder {
  color: rgba(255,255,255,0.33);
}

/* Search box input text color */
.bp3-input-group input {
    color: white !important
}

/* Dropdown page menu hover highlight */
.rm-menu-item:hover {
    background: #0000001c !important;
}

/* New page text color */
.rm-new-page {
    color: --namespaces !important;
}


/*///////////////////////////////////*/
/*                                   */
/*     Code & Code Block styling     */
/*                                   */
/*///////////////////////////////////*/

code {
    background: #121212;
    background: rgba(18, 18, 18, 0.60);
    color: #c78741;
    border: 1px solid #000000;
    border: 1px solid rgba(18, 18, 18, 0.87);
}

.CodeMirror {
    background-color: var(--background) !important;
    color: #dbba96;
}

.CodeMirror div.CodeMirror-cursor {
    border-left: 1px solid #089daf;
}

.CodeMirror-gutter-elt, .CodeMirror-gutter {
    background-color: var(--background) !important;
    color: #666;
}

.CodeMirror-line {
    padding-left: 6px !important;
}

.CodeMirror-gutters {
    padding-right: 3px;
    border-right: 1px solid #676767;
    background-color: transparent;
    white-space: nowrap;
}

.cm-s-default .cm-keyword {
    color: var(--icons);
}

.cm-s-default .cm-number {
    color: #0cb974;
}

.cm-s-default .cm-meta {
    color: #959595;
}

.cm-s-default .cm-error {
    color: #cc4f4f;
}

.CodeMirror-selected {
    background-color: #655959 !important;
}

.cm-qualifier, .cm-def {
    color: #ff9500 !important;
}

.cm-atom, .cm-builtin, .cm-string {
    color: #c3bca8 !important;
}

.cm-comment {
    color: #ffffff54 !important;
}

.CodeMirror-widget div:first-child {
    padding-right: 0px !important;
}

.roam-block.dont-unfocus-block.hoverparent.rm-block-text .rm-pomodoro:first-child {
    padding-right: 15px !important;
}

/* CSS Variables */ 
.cm-s-default .cm-variable-2 {
    color: rgb(255,201,0);
  }
/*/////////////////////////////////////*/
/*                                     */
/*     "All Pages" Section Styling     */
/*                                     */
/*/////////////////////////////////////*/

/* Top bar size fixes */
.rm-all-pages .table .rm-pages-row .rm-pages-checkbox-col  {
    padding-right: 0px !important;
}

/* Row background color */
.rm-pages-row {
    background-color: transparent !important;
    border-bottom: 1px solid #ffffff42;
}

.rm-pages-row-highlight {
    background-color: transparent !important;
}

.title-children-text {
    color: #c3bca8 !important
}

.bp3-text-overflow-ellipsis a:hover {
    color: var(--links-hover) !important;
    text-decoration: none;
    transition: color .3s ease;
}

/* Title Header */
.bp3-text-overflow-ellipsis, .rm-pages-sort-header {
    color: #ff9500;
}

/* Mentions Pill */
.rm-clickable-pill, .rm-clickable-pill.level1-pill, .rm-clickable-pill.level2-pill, .rm-clickable-pill.level3-pill, .rm-clickable-pill.level4-pill {
    color: var(--background);
    background: var(--all-pages-mentions);
    opacity: 1 !important;
    padding: 2px 10px !important;
    width: 42px;
    border-radius: 2px;
}

.rm-clickable-pill.level1-pill {
    background: var(--all-pages-mentions);
    filter: hue-rotate(-10deg);
}

.rm-clickable-pill.level3-pill {
    background: var(--all-pages-mentions);
    filter: hue-rotate(-20deg);
}

.rm-clickable-pill.empty-pill {
    color: #ffffff6e;
    background: var(--background);
}

.rm-clickable-pill:hover {
    background: var(--links-hover);
}

/* Checkbox */
.bp3-control input:checked ~ .bp3-control-indicator  {
    background: rgb(27, 159, 28);;
}

.bp3-control input:checked ~ .bp3-control-indicator:hover  {
    background: rgb(1, 122, 69);;
}

.bp3-control.bp3-checkbox .bp3-control-indicator {
    border-radius: 25px;
}

.rm-pages-col div:first-child {
    padding-right: 10px !important;
}

/*///////////////////////////////*/
/*                               */
/*     Dropdown Menu Styling     */
/*                               */
/*///////////////////////////////*/

.bp3-popover-content, .bp3-menu, .bp3-elevation-3 {
    background-color: #464545 !important;
    color: var(--page-links) !important;
}


.bp3-menu a:hover, .bp3-elevation-3 .dont-unfocus-block:hover  {
    background: #0000001c;
}

.bp3-elevation-3 .dont-unfocus-block:hover .bp3-text-overflow-ellipsis {
    color: var(--links-hover) !important;
    text-decoration: none;
    transition: color .3s ease;
}

.bp3-menu-item-label {
    color: #ffffffc7 !important;
}

.bp3-elevation-3 .dont-unfocus-block[style*="background-color: rgb(213, 218, 223);"], .bp3-popover-content .rm-menu-item[style*="background-color: rgb(213, 218, 223);"] {
    background-color: #0000001c !important;
}

.bp3-text-overflow-ellipsis {
    color: var(--dropdown-menu-text) !important;
}

button[style*="padding: 4px 8px;"] {
    color: black;
}
/*////////////////////////*/
/*                        */
/*     Button Styling     */
/*                        */
/*////////////////////////*/

.bp3-button {
    background-color: transparent !important;
    text-transform: uppercase;
    /*margin-right: 5px;*/
  	border: 0px !important;
}

.bp3-button[class*="bp3-icon-"]::before, .bp3-icon-filter, .bp3-button.bp3-minimal.bp3-small, .bp3-icon.bp3-icon-calendar.filter-icon, .bp3-icon.filter-icon.bp3-icon-eye-open, .bp3-button.bp3-icon-calendar {
    color: var(--icons) !important;
    background: transparent !important;
    opacity: 1;
}

.bp3-button[class*="bp3-icon-"]:hover, .bp3-button[class*="bp3-icon-"]:hover::before, .bp3-icon-filter:hover, .bp3-button.bp3-minimal:hover, .bp3-icon.bp3-icon-calendar.filter-icon:hover, .bp3-icon.filter-icon.bp3-icon-eye-open:hover {
    background: transparent !important;
    transition: background .1s ease, color .3s ease;
    color: var(--icons-hover) !important;
    opacity: 1;
}

/* remove shadow border around calendar icon */
.bp3-button:not([class*="bp3-intent-"]), .bp3-button:not([class*="bp3-intent-"]):hover {
  box-shadow: none;
}

.block-ref-count-button {
    font-family: 'Inter', sans-serif !important;
    color: var(--icons) !important;
    background: transparent  !important;
    border: 1px solid var(--icons) !important;
    border-radius: 100px !important;
    z-index: 1000 !important;
    transition: color .3s ease, border .3s ease !important;
    opacity: 1 !important;
}

.block-ref-count-button:hover {
    color: var(--icons-hover) !important;
    background: transparent !important;
    border: 1px solid var(--icons-hover) !important;
    border-radius: 100px !important;
    z-index: 1000 !important;
    transition: color .3s ease,  border .3s ease !important;
}


.bp3-icon.bp3-icon-filter[style*="color: rgb(168, 42, 42);"] {
    color: var(--filter-icon) !important;
}

div[style*="position: absolute; z-index: 1000; top: 0px; right: 0px; opacity: 0.5;"] {
    opacity: 1 !important;
}

.bp3-popover-content .bp3-button {
    background: #ffffff82 !important;
}

.bp3-icon.bp3-icon-calendar.filter-icon

/*////////////////////////////////*/
/*                                */
/*     Embedded Block Styling     */
/*                                */
/*////////////////////////////////*/

.rm-embed-container:hover > .rm-embed-edit {
    right: 30px;
}

.rm-embed-inner-block-hide {
    margin-left: 0px !important;
}

.rm-embed-edit {
    margin-right: 5px;
    z-index: 1000;
}

/*/////////////////////////////*/
/*                             */
/*     Kanban Card Styling     */
/*                             */
/*/////////////////////////////*/

.kanban-column-container, .kanban-board {
    background-color: #2b2a2a;

}

.kanban-title {
    color: var(--links-hover);
}

.kanban-column {
    background-color: #2b2a2a
}

.kanban-card {
    background-color: #5959591c
}

span[data-link-title="DONE"] .rm-page-ref {
    color: #00ee6b !important;
}

span[data-link-title="TODO"] .rm-page-ref {
    color: #ee4f00 !important;
}

span[data-link-title="DOING"] .rm-page-ref {
    color: #ffa900 !important;
}

span[data-link-title="TODO"] .rm-page-ref {
    color: #ee4f00 !important;
}
.kanban-card:hover {
    color: #00ee6b;
}

/*//////////////////////////*/
/*                          */
/*         Pomodoro         */
/*    thx to @Mappletons    */
/*                          */
/*//////////////////////////*/

.dont-focus-block.bp3-button, .rm-pomodoro {
  background: var(--links-hover) !important;
  color: #fff !important;
  font-family: Courier New; 
  padding: 4px 14px;
  line-height: 2em;
  font-weight: 600;
  border-radius: 2em;
  border: 1px solid #ed5845;
  transition:  background .2s ease, border .3s ease;
}


.dont-focus-block.bp3-button:hover {
    background: #5c9438 !important;
    border: 1px solid #2f512c;
    transition:  background .2s ease, border .3s ease;
}


.rm-pomodoro::first-letter {
  margin-right: 8px;
}

/* NEW */

/* Pro / Con Option tag coloring */
span[data-tag="pro"], span[data-tag="p"] {
    color: #00ee6b !important;
}

span[data-link-title="pro"] span, span[data-link-title="p"] span, span[data-link-title="+"] span{
    background: #00ee6b !important;
    padding: 1px 5px;
    border-radius: 150px;
    font-weight: 600;
    color: var(--background) !important;
    text-transform: uppercase;
    font-family: Courier New;
    transition: background 2s ease;
}

span[data-link-title="con"] span, span[data-link-title="c"] span, span[data-link-title="-"] span{
    background: #ee4f00 !important;
    padding: 1px 5px;
    border-radius: 150px;
    font-weight: 600;
    color: var(--background) !important;
    text-transform: uppercase;
    font-family: Courier New;
    transition: background 1s ease;
}


span[data-link-title="pro"] span:hover, span[data-link-title="p"] span:hover, span[data-link-title="+"] span:hover, span[data-link-title="con"] span:hover, span[data-link-title="c"] span:hover, span[data-link-title="-"] span:hover {
    color: var(--background) !important;
    background: var(--page-links) !important;
    transition: background .3s ease;
}

span[data-tag="con"], span[data-tag="c"] {
    color: #ee4f00 !important;
}
span[data-tag="choice"] {
    color: #EEAA00 !important;
}

select[style*="background-color: white;"] {
    background: transparent !important;
}

select option {
    background: rgba(0,0,0,0.7) !important;
    color: white;
}

/* Word Count */
.bp3-button:not([class*="bp3-intent-"]) {
    background: transparent !important;
    color: white !important;
    font-family: Courier New;
    transition: color .3s ease;
}

.bp3-button:not([class*="bp3-intent-"]):hover {
    transition: color .3s ease;
    color: var(--icons-hover) !important;
}

/* Query */
.rm-query-title {
  background: inherit !important;
  color: #c3bca8 !important;
  font-weight: 600;
}

/* Alias */
span[style*="background-color: rgb(235, 241, 245);"] {
    background: #2b2a2a !important;
    color: #c3bca8 !important;
  	border: 1px solid #c3bca8;
    transition: color .3s ease, border .3s ease;
}

span[style*="background-color: rgb(235, 241, 245);"]:hover {
    background: #2b2a2a !important;
    color: var(--links-hover) !important;
    border: 1px solid var(--links-hover);
    transition: color .3s ease, border .3s ease;
}

button {
  background: transparent !important;
}

/* diagram */
svg[style*="background-color: rgb(86, 112, 134);"] {
    background: var(--background) !important;
}

div[style*="background-color: white"] {
    background: var(--background) !important;
}

g rect {
    fill: var(--background) !important;

}

rect[fill*="#fff"] {
    fill: var(--links-hover) !important;
}

textarea[autocapitalize*="none"] {
    color: var(--body-text) !important;
}

foreignObject {
    cursor: -webkit-grab; 
  	cursor: grab;
}

button[style*="border: 0.5px solid rgb(206, 217, 224);"] {
  background: white !important;
}

button[style*="border: none"] {
  background: var(--links-hover) !important;
}

.rm-emoji-button {
  background: transparent !important;
  border: 1px solid #c3bca8 !important;
}

div[style*="color: rgb(14, 90, 138);"] {
    color: var(--page-links) !important;
}

/* chart */
svg[style*="background-color: white;"] {
    background: transparent  !important;
}

g circle {
    fill: var(--links-hover) !important;
}

/* Calculation */

span[style*="color: rgb(14, 90, 138);"] {
    font-family: Courier New;
    color: var(--page-links) !important;
    font-weight: 600;
}

.bp3-popover-arrow-fill {
    fill: transparent !important;
}

.bp3-popover[style*="transform-origin: left 15px;"] .bp3-popover-content {
    color: var(--page-links) !important;
    padding: 0 10px;   
}

/* Calendar */

.bp3-datepicker-day-wrapper, .DayPicker-Weekday {
    color: var(--background);
}

.bp3-datepicker .DayPicker-Day.DayPicker-Day--outside {
    opacity: .4;
}

/* Astrolabe */
.loading-astrolabe {
    content:url("https://i.imgur.com/ucITJk7.gif");
}
