/*/////////////////////////////////////*/
/*                                     */
/*     General Background Coloring     */
/*                                     */
/*/////////////////////////////////////*/

.roam-body-main {
    background-color: #26272a;
}

#right-sidebar, .roam-topbar, .roam-sidebar-container {
    background-color: #1e1e1e !important;
}

.roam-block > span > div {
    background-color: inherit !important;
}

.roam-block {
    min-height: calc(1em + 8px);
}

.rm-reference-item {
    background-color: #121212;
    background-color: rgba(255, 255, 255, 0);
    margin: 10px 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid #b49d7d;
}

.rm-level1 {
    margin-bottom: 20px;
}

.roam-bullet-closed {
    background-color: #b49d7d;
}

.rm-reference-container {
    border-top: 5px double #b49d7d;
    padding-top: 15px;
}

.rm-caret, .bp3-icon-standard {
    color: #fffc !important;
    opacity: 1 !important;
}

.bp3-icon-standard:hover {
    color: #00f800 !important;
}

.bp3-menu .bp3-icon-standard{
    color: #2f2f2f !important;
}
/*//////////////////////////////*/
/*                              */
/*     General Text Styling     */
/*                              */
/*//////////////////////////////*/

/* sidebar text color */
.page, .log-button, .starred-pages-wrapper {
    color: #c3bca8 !important;
    transition: color .3s ease;
}

.page:hover, .log-button:hover {
    color: #ff6f00 !important;
    text-decoration: none !important;
    transition: color .3s ease;
    background: transparent;
}

.bp3-button[class*="bp3-icon-"]::before {
    color: #75c6a3 !important;
    background: transparent;
}



.bp3-button[class*="bp3-icon-"]:hover, .bp3-button[class*="bp3-icon-"]:hover::before {
    background: transparent;
    transition: background .1s ease;
    transition: color .3s ease;
    color: #00f800 !important;
}


.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page:hover, .roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button:hover {
    color: #f5f8fa;
    background-color: #10161a00;
}

.roam-body .roam-app {
    color: #FFFFFF;
    color: rgba(255, 255, 255, .60);
}

h1, h2, h3 {
    color: #da844f !important;
}

/* main link coloring + hover */
.rm-page-ref-link-color, a {
    color: #ff9500;
    transition: color .3s ease;
}

.rm-page-ref-link-color:hover, a:focus, a:hover {
    color: #ff6f00 !important;
    text-decoration: none !important;
    transition: color .3s ease;
}

/* remove underlining on links */
span {
    text-decoration: none !important;
}


/* path text color for linked references */
.parent-path-wrapper, em, strong {
    color: #b49d7d;
}

/* block reference */
.roam-block .rm-block-ref, span[style*="color: red"] {
    background-color: transparent !important;
    color: #e1c39a !important;
    border-bottom: 1px solid rgba(255,255,255,.2);
    
}

.rm-block-ref:hover {
    background-color: transparent !important;
    border-bottom: 1px solid rgba(255, 152, 0, .6);
}

.check-container {
    z-index: 1000;
}



/*////////////////////////////////*/
/*                                */
/*     Container Sizing Fixes     */
/*                                */
/*////////////////////////////////*/

.roam-article {
    width: 960px;
}

.roam-block-container {
    max-width: 900px;
}

.rm-block-text {
    max-width: 640px;
}


/*///////////////////*/
/*                   */
/*     Search Box    */
/*                   */
/*///////////////////*/

.bp3-input {
    background: #FFFFFF;
    background: rgba(255, 255, 255, .05);
}

.bp3-input-group input {
    color: white !important
}

.rm-menu-item:hover {
    background: #0000001c !important;
}

.rm-new-page {
    color: #65bf38 !important;
}

/*//////////////*/
/*              */
/*     ToDos    */
/*              */
/*//////////////*/

.check-container input:checked ~ .checkmark {
    background-color: #FFFFFF;
    background-color: rgb(27, 159, 28);
}



/*//////////////////*/
/*                  */
/*     Highlight    */
/*                  */
/*//////////////////*/

.roam-highlight {
    color: #d8dadb;
    background-color: #3b5e39;
}

.block-highlight-yellow {
    background: #6e6b5e8c !important;

}

/*///////////////////////////////////*/
/*                                   */
/*     Code & Code Block styling     */
/*                                   */
/*///////////////////////////////////*/

code {
    background: #121212;
    background: rgba(18, 18, 18, 0.60);
    color: #c78741;
    border: 1px solid #000000;
    border: 1px solid rgba(18, 18, 18, 0.87);
}

.CodeMirror {
    background-color: #26272a !important;
    color: #dbba96;
}

.CodeMirror div.CodeMirror-cursor {
    border-left: 1px solid #089daf;
}

.CodeMirror-gutter-elt, .CodeMirror-gutter {
    background-color: #26272a !important;
    color: #666;
}

.CodeMirror-line {
    padding-left: 6px !important;
}

.CodeMirror-gutters {
    padding-right: 3px;
    border-right: 1px solid #676767;
    background-color: transparent;
    white-space: nowrap;
}

.cm-s-default .cm-keyword {
    color: #d26ae1;
}

.cm-s-default .cm-number {
    color: #0cb974;
}

.cm-s-default .cm-meta {
    color: #959595;
}

.cm-s-default .cm-error {
    color: #cc4f4f;
}

.CodeMirror-selected {
    background-color: #655959 !important;
}

.cm-qualifier {
    color: #ff9500 !important;
}

.cm-atom, .cm-builtin {
    color: #c3bca8 !important;
}

.cm-comment {
    color: #ffffff54 !important;
}

/*/////////////////////////*/
/*                         */
/*     Hashtag Styling     */
/*                         */
/*/////////////////////////*/

.rm-page-ref-tag {
 
    color: #3db5e1 !important;
    transition: color .3s ease;
}

.rm-page-ref-tag:hover {
    color: #ee6b00 !important;
    text-decoration: none;
    transition: color .3s ease;
}



/*///////////////////////////*/
/*                           */
/*     Namespace Styling     */
/*                           */
/*///////////////////////////*/

.rm-page-ref-namespace-color {
    color: #65bf38;
    transition: color .3s ease;
}

.rm-page-ref-namespace-color:hover {
    color: #ee6b00;
    text-decoration: none;
    transition: color .3s ease;
}



/*/////////////////////////////////////*/
/*                                     */
/*     "All Pages" Section Styling     */
/*                                     */
/*/////////////////////////////////////*/

.rm-pages-row {
    background-color: #26272a !important;
    border-bottom: 1px solid #ffffff42;
}

.rm-pages-row-highlight {
    background-color: #26272a
}

/* Page Name */
.bp3-text-overflow-ellipsis a {
    color: #b49d7d !important
}

.bp3-text-overflow-ellipsis a:hover {
    color: #ee6b00 !important;
    text-decoration: none;
    transition: color .3s ease;
}

/* Title Header */
.bp3-text-overflow-ellipsis, .rm-pages-sort-header {
    color: #ff9500;
}



/*///////////////////////////////*/
/*                               */
/*     Dropdown Menu Styling     */
/*                               */
/*///////////////////////////////*/

.bp3-popover-content, .bp3-menu, .bp3-elevation-3 {
    background-color: #464545 !important;
}


.bp3-menu a:hover, .bp3-elevation-3 .dont-unfocus-block:hover  {
    background: #0000001c;
}

.bp3-elevation-3 .dont-unfocus-block:hover .bp3-text-overflow-ellipsis {
    color: #ee6b00 !important;
    text-decoration: none;
    transition: color .3s ease;
}

.bp3-menu-item-label {
    color: #ffffffc7 !important;
}



.bp3-elevation-3 .dont-unfocus-block[style*="background-color: rgb(213, 218, 223);"], .bp3-popover-content .rm-menu-item[style*="background-color: rgb(213, 218, 223);"] {
    background-color: #0000001c !important;
}

/*////////////////////////*/
/*                        */
/*     Button Styling     */
/*                        */
/*////////////////////////*/

.roam-block .bp3-button {
    background-color: transparent !important;
    text-transform: uppercase;
    margin-right: 5px;
}

.bp3-button[class*="bp3-icon-"]::before, .bp3-icon-filter, .bp3-button.bp3-minimal.bp3-small {
    color: #75c6a3 !important;
    background: transparent !important;
}

.bp3-button[class*="bp3-icon-"]:hover, .bp3-button[class*="bp3-icon-"]:hover::before, .bp3-icon-filter:hover, .bp3-button.bp3-minimal:hover {
    background: transparent !important;
    transition: background .1s ease, color .3s ease;
    color: #00f800 !important;
}

.block-ref-count-button {
    color: #75c6a3 !important;
    background: transparent;

    border: 1px solid #75c6a3;
    border-radius: 100px;
    z-index: 1000;
    transition: color .3s ease, border .3s ease;
    opacity: 1;
}

.block-ref-count-button:hover {
    color: #00f800 !important;
    background: transparent !important;
    border: 1px solid #00f800;
    border-radius: 100px;
    z-index: 1000;
    transition: color .3s ease,  border .3s ease;
}


.bp3-icon.bp3-icon-filter[style*="color: rgb(168, 42, 42);"] {
    color: red !important;
}

.bp3-popover-content .bp3-button {
    background: #ffffff82 !important;
}

/*////////////////////////////////*/
/*                                */
/*     Embedded Block Styling     */
/*                                */
/*////////////////////////////////*/

.rm-embed-container:hover > .rm-embed-edit {
    right: 30px;
}

.rm-embed-inner-block-hide {
    margin-left: 0px !important;
}

.rm-embed-edit {
    z-index: 1000;
}



/*/////////////////////////////*/
/*                             */
/*     Kanban Card Styling     */
/*                             */
/*/////////////////////////////*/

.kanban-column-container, .kanban-board {
    background-color: #2b2a2a;

}

.kanban-title {
    color: #ee6b00;
}

.kanban-column {
    background-color: #2b2a2a
}

.kanban-card {
    background-color: #5959591c
}

span[data-link-title="DONE"] .rm-page-ref {
    color: #00ee6b !important;
}

span[data-link-title="TODO"] .rm-page-ref {
    color: #ee4f00 !important;
}

span[data-link-title="DOING"] .rm-page-ref {
    color: #ffa900 !important;
}

span[data-link-title="TODO"] .rm-page-ref {
    color: #ee4f00 !important;
}
.kanban-card:hover {
    color: #00ee6b;
}

/*//////////////////////////*/
/*                          */
/*         Pomodoro         */
/*    thx to @Mappletons    */
/*                          */
/*//////////////////////////*/


.dont-focus-block.bp3-button, .rm-pomodoro {
  background: #ff6956 !important;
  color: #fff !important;
  font-family: Courier New; 
  padding: 4px 14px;
  line-height: 2em;
  font-weight: 600;
  border-radius: 2em;
  border: 1px solid #ed5845;
  transition:  background .2s ease, border .3s ease;
}


.dont-focus-block.bp3-button:hover {
    background: #5c9438 !important;
    border: 1px solid #2f512c;
    transition:  background .2s ease, border .3s ease;
}


.rm-pomodoro::first-letter {
  margin-right: 8px;
}
