/*/////////////////////////////////////*/
/*                                     */
/*     General Background Coloring     */
/*                                     */
/*/////////////////////////////////////*/

.roam-body-main {
    background-color: #282c34;
}

#right-sidebar, .roam-topbar, .roam-sidebar-container {
    background-color: #1e1e1e !important;
}

.roam-block > span > div {
    background-color: inherit !important;
}

.rm-reference-item {
    background-color: #121212;
    background-color: rgba(255, 255, 255, .08);
}



/*//////////////////////////////*/
/*                              */
/*     General Text Styling     */
/*                              */
/*//////////////////////////////*/

/* sidebar text color */
.page, .log-button, .starred-pages-wrapper {
    color: #c3bca8 !important;
    transition: color .3s ease;
}

.page:hover, .log-button:hover {
    color: #ff6f00 !important;
    text-decoration: none !important;
    transition: color .3s ease;
    background: transparent;
}

.roam-body .roam-app {
    color: #FFFFFF;
    color: rgba(255, 255, 255, .60);
}

h1, h2, h3 {
    color: #da844f !important;
}

/* main link coloring + hover */
.rm-page-ref-link-color, a {
    color: #ff9500;
    transition: color .3s ease;
}

.rm-page-ref-link-color:hover, a:focus, a:hover {
    color: #ff6f00 !important;
    text-decoration: none !important;
    transition: color .3s ease;
}

/* remove underlining on links */
span {
    text-decoration: none !important;
}


/* path text color for linked references */
.parent-path-wrapper {
    color: #b49d7d;
}

/* block reference */
.roam-block .rm-block-ref {
    background-color: transparent !important;
    color: #e1c39a;
    border-bottom: 1px solid rgba(255,255,255,.2)
}

.rm-block-ref:hover {
    background-color: transparent !important;
    border-bottom: 1px solid rgba(255, 152, 0, .6);
}

/*////////////////////////////////*/
/*                                */
/*     Container Sizing Fixes     */
/*                                */
/*////////////////////////////////*/

.roam-article {
    width: 1200px;
}

.roam-block-container {
    max-width: 1000px;
}



/*///////////////////*/
/*                   */
/*     Search Box    */
/*                   */
/*///////////////////*/

.bp3-input {
    background: #FFFFFF;
    background: rgba(255, 255, 255, .05);
}

.bp3-input-group input {
    color: white !important
}

.rm-menu-item:hover {
    background: #0000001c !important;
}

.rm-new-page {
    color: #65bf38 !important;
}

/*//////////////*/
/*              */
/*     ToDos    */
/*              */
/*//////////////*/

.check-container input:checked ~ .checkmark {
    background-color: #FFFFFF;
    background-color: rgb(27, 159, 28);
}



/*//////////////////*/
/*                  */
/*     Highlight    */
/*                  */
/*//////////////////*/

.roam-highlight {
    color: #d8dadb;
    background-color: #488244;
}

.block-highlight-yellow {
    background: #6e6b5e8c !important;

}

/*///////////////////////////////////*/
/*                                   */
/*     Code & Code Block styling     */
/*                                   */
/*///////////////////////////////////*/

code {
    background: #121212;
    background: rgba(18, 18, 18, 0.60);
    color: #c78741;
    border: 1px solid #000000;
    border: 1px solid rgba(18, 18, 18, 0.87);
}

.CodeMirror {
    background-color: #282c34 !important;
    color: #dbba96;
}

.CodeMirror div.CodeMirror-cursor {
    border-left: 1px solid #089daf;
}

.CodeMirror-gutter-elt, .CodeMirror-gutter {
    background-color: #282c34 !important;
    color: #666;
}

.CodeMirror-line {
    padding-left: 6px !important;
}

.CodeMirror-gutters {
    border-right: 1px solid #666;
    background-color: #f7f7f7;
    white-space: nowrap;
}

.cm-s-default .cm-keyword {
    color: #d26ae1;
}

.cm-s-default .cm-number {
    color: #0cb974;
}

.cm-s-default .cm-meta {
    color: #959595;
}

.cm-s-default .cm-error {
    color: #cc4f4f;
}

.CodeMirror-selected {
    background-color: #655959 !important;
}



/*/////////////////////////*/
/*                         */
/*     Hashtag Styling     */
/*                         */
/*/////////////////////////*/

.rm-page-ref-tag {
 
    color: #3db5e1 !important;
    transition: color .3s ease;
}

.rm-page-ref-tag:hover {
    color: #ee6b00 !important;
    text-decoration: none;
    transition: color .3s ease;
}



/*///////////////////////////*/
/*                           */
/*     Namespace Styling     */
/*                           */
/*///////////////////////////*/

.rm-page-ref-namespace-color {
    color: #65bf38;
    transition: color .3s ease;
}

.rm-page-ref-namespace-color:hover {
    color: #ee6b00;
    text-decoration: none;
    transition: color .3s ease;
}



/*/////////////////////////////////////*/
/*                                     */
/*     "All Pages" Section Styling     */
/*                                     */
/*/////////////////////////////////////*/

.rm-pages-row {
    background-color: #282a2b !important;
    border-bottom: 1px solid #ffffff42;
}

.rm-pages-row-highlight {
    background-color: #282a2b
}

/* Page Name */
.bp3-text-overflow-ellipsis a {
    color: #b49d7d !important
}

.bp3-text-overflow-ellipsis a:hover {
    color: #ee6b00 !important;
    text-decoration: none;
    transition: color .3s ease;
}

/* Title Header */
.bp3-text-overflow-ellipsis, .rm-pages-sort-header {
    color: #ff9500;
}



/*///////////////////////////////*/
/*                               */
/*     Dropdown Menu Styling     */
/*                               */
/*///////////////////////////////*/

.bp3-popover-content, .bp3-menu, .bp3-elevation-3 {
    background-color: #464545 !important;
}


.bp3-menu a:hover, .bp3-elevation-3 .dont-unfocus-block:hover  {
    background: #0000001c;
}

.bp3-elevation-3 .dont-unfocus-block:hover .bp3-text-overflow-ellipsis {
    color: #ee6b00 !important;
    text-decoration: none;
    transition: color .3s ease;
}

.bp3-menu-item-label {
    color: #ffffffc7 !important;
}

.bp3-icon-standard {
    color: #404040 !important;
}

.bp3-elevation-3 .dont-unfocus-block[style*="background-color: rgb(213, 218, 223);"], .bp3-popover-content .rm-menu-item[style*="background-color: rgb(213, 218, 223);"] {
    background-color: #0000001c !important;
}

/*////////////////////////*/
/*                        */
/*     Button Styling     */
/*                        */
/*////////////////////////*/

.roam-block .bp3-button {
    background-color: #464545 !important;
    color: white !important;
    text-transform: uppercase;
    margin-right: 5px;
}

.roam-block .bp3-button:hover {
    background-color: #285d00 !important;
}



/*////////////////////////////////*/
/*                                */
/*     Embedded Block Styling     */
/*                                */
/*////////////////////////////////*/

.rm-embed-container:hover > .rm-embed-edit {
    right: 30px;
}

.rm-embed-inner-block-hide {
    margin-left: 0px !important;
}

.rm-embed-edit {
    z-index: 1000;
}



/*/////////////////////////////*/
/*                             */
/*     Kanban Card Styling     */
/*                             */
/*/////////////////////////////*/

.kanban-column-container, .kanban-board {
    background-color: #2b2a2a
}

.kanban-column {
    background-color: #3e3e3e
}

.kanban-card {
    background-color: #595959
}
