/*////////////////////////////////*/
/*                                */
/*     Container Sizing Fixes     */
/*                                */
/*////////////////////////////////*/
.roam-center div:first-child {
    padding-right: calc((100% - 900px) / 2) !important;
}



.roam-block-container {
    max-width: calc(1024px - 80px);
}
.roam-center .roam-article .rm-block-text {
    max-width: 680px;
}

#right-sidebar #roam-right-sidebar-content .rm-block-text {
     max-width: 680px;
}

.roam-block {
    min-height: calc(1em + 8px);
}


/*/////////////////////////////////////*/
/*                                     */
/*     General Background Coloring     */
/*                                     */
/*/////////////////////////////////////*/

/* MAIN BACKGROUND COLOR */
.roam-body-main {
    background-color: #26272a;
}

/* TOPBAR  & SIDEBAR BACKGROUND COLORS */
#right-sidebar, .roam-topbar, .roam-sidebar-container {
    background-color: #1e1e1e !important;
}

.roam-topbar {
  border-bottom: 0px;
}

/* BLOCKS BACKGRROUND */
.roam-block > span > div {
    background-color: inherit !important;
}

.roam-bullet-closed {
    background-color: #b49d7d;
}

.rm-caret, .bp3-icon-standard {
    color: #fffc !important;
    opacity: 1 !important;
}

.bp3-icon-standard:hover {
    color: #00f800 !important;
}

.bp3-menu .bp3-icon-standard{
    color: #2f2f2f !important;
}

#roam-sidebar-logo:hover {
  background: transparent !important;
}

#roam-sidebar-logo img, #roam-sidebar-logo div span {
  	transition: color .3s ease;
}

#roam-sidebar-logo:hover div span {
  color: #ff6f00 !important;
  transition: color .3s ease;
}

/*//////////////////////////////*/
/*                              */
/*     General Text Styling     */
/*                              */
/*//////////////////////////////*/

/* Body text color */
.roam-body .roam-app {
    color: rgba(255, 255, 255, .70);
}

/* sidebar text color */
.page, .log-button, .starred-pages-wrapper {
    color: #c3bca8 !important;
  	font-weight: 600;
    transition: color .3s ease;
}

/* sidebar text hover color */
.page:hover, .log-button:hover {
    color: #ff6f00 !important;
    text-decoration: none !important;
    transition: color .3s ease;
    background: transparent !important;
}

/* Heading/Header Colors, includes Date header on daily notes */
h1, h2, h3 {
    color: #da844f !important;
}

/* main link coloring + hover */
a {
  	color: #66B5F4 !important;
    transition: color .3s ease;
}

/* Interal Roam Links [[Roam]] & #Roam & #[[Roam]] */
.rm-page-ref-tag, .rm-page-ref-link-color, .rm-ref-page-view-title a, .bp3-text-overflow-ellipsis a, .rm-pages-title-text strong {
    color: #d9d9d9 !important;
    font-weight: 700;
    transition: color .3s ease;
}

.rm-page-ref-tag {
	margin-right: 5px;
}

.rm-page-ref-tag:hover, .rm-pages-title-text strong:hover {
    color: #ee6b00 !important;
    text-decoration: none;
    transition: color .3s ease;
}

h1.level1 a, h1.level2 a, h1.level3 a, h1.level4 a,
h2.level1 a, h2.level2 a, h2.level3 a, h2.level4 a,
h3.level1 a, h3.level2 a, h3.level3 a, h3.level4 a,
h4.level1 a, h4.level2 a, h4.level3 a, h1.level4 a { 
    color: #d9d9d9 !important;
    font-weight: 600;
}

h1.level1 a:hover, h1.level2 a:hover, h1.level3 a:hover, h1.level4 a:hover,
h2.level1 a:hover, h2.level2 a:hover, h2.level3 a:hover, h2.level4 a:hover,
h3.level1 a:hover, h3.level2 a:hover, h3.level3 a:hover, h3.level4 a:hover,
h4.level1 a:hover, h4.level2 a:hover, h4.level3 a:hover, h4.level4 a:hover { 
    color: #ff6f00 !important;
    font-weight: 600;
}

.rm-page-ref-link-color:hover, a:focus, a:hover {
    color: #ff6f00 !important;
    text-decoration: none !important;
    transition: color .3s ease;
}

/* ToDos color + Z-index Fix */
.check-container input:checked ~ .checkmark {
    background-color: #FFFFFF;
    background-color: rgb(27, 159, 28);
}

.check-container {
    z-index: 1000;
}

/* remove underlining on links */
span {
    text-decoration: none !important;
}

/* path text color for linked references */
.parent-path-wrapper, em, strong {
    color: #b49d7d;
}

/* block reference */
.roam-block .rm-block-ref, span[style*="color: red"] {
    background-color: transparent !important;
    color: #e1c39a !important;
    transition: color .3s ease, border .3s ease;
    border-bottom: 1px solid rgba(255,255,255,.2);
    
}

.rm-block-ref:hover {
    background-color: transparent !important;
    color: #ff6f00 !important;
    transition: color .3s ease, border .3s ease;
    border-bottom: 1px solid rgba(255, 152, 0, .6);
}
/*///////////////////////////*/
/*                           */
/*     Reference Section     */
/*                           */
/*///////////////////////////*/

/* Reference Background Color + Spacing Fixes */
.rm-reference-item {
    background-color: transparent;
    margin: 10px 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid #b49d7d;
}

.rm-level1 {
    margin-bottom: 20px;
}

/* Reference Section Divider */
.rm-reference-container {
    border-top: 5px double #b49d7d;
    padding-top: 15px;
}

/*///////////////////*/
/*                   */
/*     Search Box    */
/*                   */
/*///////////////////*/

/* Search box background color */
.bp3-input, .rm-pages-toolbar .toolbar-search-group .search-input {
    background: rgba(255, 255, 255, .05);
}

/* Search box placeholder text color */
.bp3-input::placeholder {
  color: rgba(255,255,255,0.33);
}

/* Search box input text color */
.bp3-input-group input {
    color: white !important
}

/* Dropdown page menu hover highlight */
.rm-menu-item:hover {
    background: #0000001c !important;
}

/* New page text color */
.rm-new-page {
    color: #65bf38 !important;
}

/*///////////////////*/
/*                   */
/*     Highlights    */
/*                   */
/*///////////////////*/

.roam-highlight {
    color: #d8dadb;
    background-color: #3b5e39;
}

.block-highlight-yellow {
    background: #6e6b5e8c !important;

}

/*///////////////////////////////////*/
/*                                   */
/*     Code & Code Block styling     */
/*                                   */
/*///////////////////////////////////*/

code {
    background: #121212;
    background: rgba(18, 18, 18, 0.60);
    color: #c78741;
    border: 1px solid #000000;
    border: 1px solid rgba(18, 18, 18, 0.87);
}

.CodeMirror {
    background-color: #26272a !important;
    color: #dbba96;
}

.CodeMirror div.CodeMirror-cursor {
    border-left: 1px solid #089daf;
}

.CodeMirror-gutter-elt, .CodeMirror-gutter {
    background-color: #26272a !important;
    color: #666;
}

.CodeMirror-line {
    padding-left: 6px !important;
}

.CodeMirror-gutters {
    padding-right: 3px;
    border-right: 1px solid #676767;
    background-color: transparent;
    white-space: nowrap;
}

.cm-s-default .cm-keyword {
    color: #75c6a3;
}

.cm-s-default .cm-number {
    color: #0cb974;
}

.cm-s-default .cm-meta {
    color: #959595;
}

.cm-s-default .cm-error {
    color: #cc4f4f;
}

.CodeMirror-selected {
    background-color: #655959 !important;
}

.cm-qualifier, .cm-def {
    color: #ff9500 !important;
}

.cm-atom, .cm-builtin, .cm-string {
    color: #c3bca8 !important;
}

.cm-comment {
    color: #ffffff54 !important;
}

.CodeMirror-widget div:first-child {
    padding-right: 0px !important;
}

.CodeMirror-widget, .codemirror-colorview, .codemirror-colorview-background {
  	padding-right: 0px !important;
}

/*///////////////////////////*/
/*                           */
/*     Namespace Styling     */
/*                           */
/*///////////////////////////*/

/* Namespace text color [[roam/css]] when using CTRL+C CTRL+L || CMD+C CMD+L */

.rm-page-ref-namespace-color {
    color: #65bf38;
    font-weight: 600;
    transition: color .3s ease;
}

.rm-page-ref-namespace-color:hover {
    color: #ee6b00;
    text-decoration: none;
    transition: color .3s ease;
}

/*/////////////////////////////////////*/
/*                                     */
/*     "All Pages" Section Styling     */
/*                                     */
/*/////////////////////////////////////*/


/* Row background color */
.rm-pages-row {
    background-color: transparent !important;
    border-bottom: 1px solid #ffffff42;
}

.rm-pages-row-highlight {
    background-color: transparent !important;
}

.title-children-text {
    color: #c3bca8 !important
}

.bp3-text-overflow-ellipsis a:hover {
    color: #ee6b00 !important;
    text-decoration: none;
    transition: color .3s ease;
}

/* Title Header */
.bp3-text-overflow-ellipsis, .rm-pages-sort-header {
    color: #ff9500;
}

/* Mentions Pill */
.rm-clickable-pill, .rm-clickable-pill.level1-pill, .rm-clickable-pill.level2-pill, .rm-clickable-pill.level3-pill, .rm-clickable-pill.level4-pill {
    color: #26272a;
    background: #ffbb5c;
    opacity: 1 !important;
    padding: 2px 10px !important;
    width: 42px;
    border-radius: 2px;
}

.rm-clickable-pill.level1-pill {
    background: #f7a22b;
}

.rm-clickable-pill.level3-pill {
    background: #ff7b00;
}

.rm-clickable-pill.empty-pill {
    color: #ffffff6e;
    background: #26272a;
}

.rm-clickable-pill:hover {
    background: #ff6f00;
}

/* Checkbox */
.bp3-control input:checked ~ .bp3-control-indicator  {
    background: rgb(27, 159, 28);;
}

.bp3-control input:checked ~ .bp3-control-indicator:hover  {
    background: rgb(1, 122, 69);;
}

.bp3-control.bp3-checkbox .bp3-control-indicator {
    border-radius: 25px;
}

/*///////////////////////////////*/
/*                               */
/*     Dropdown Menu Styling     */
/*                               */
/*///////////////////////////////*/

.bp3-popover-content, .bp3-menu, .bp3-elevation-3 {
    background-color: #464545 !important;
}


.bp3-menu a:hover, .bp3-elevation-3 .dont-unfocus-block:hover  {
    background: #0000001c;
}

.bp3-elevation-3 .dont-unfocus-block:hover .bp3-text-overflow-ellipsis {
    color: #ee6b00 !important;
    text-decoration: none;
    transition: color .3s ease;
}

.bp3-menu-item-label {
    color: #ffffffc7 !important;
}

.bp3-elevation-3 .dont-unfocus-block[style*="background-color: rgb(213, 218, 223);"], .bp3-popover-content .rm-menu-item[style*="background-color: rgb(213, 218, 223);"] {
    background-color: #0000001c !important;
}

/*////////////////////////*/
/*                        */
/*     Button Styling     */
/*                        */
/*////////////////////////*/

.bp3-button {
    background-color: transparent !important;
    text-transform: uppercase;
    /*margin-right: 5px;*/
  	border: 0px !important;
}

.bp3-button[class*="bp3-icon-"]::before, .bp3-icon-filter, .bp3-button.bp3-minimal.bp3-small, .bp3-icon.bp3-icon-calendar.filter-icon, .bp3-icon.filter-icon.bp3-icon-eye-open, .bp3-button.bp3-icon-calendar {
    color: #75c6a3 !important;
    background: transparent !important;
    opacity: 1;
}

.bp3-button[class*="bp3-icon-"]:hover, .bp3-button[class*="bp3-icon-"]:hover::before, .bp3-icon-filter:hover, .bp3-button.bp3-minimal:hover, .bp3-icon.bp3-icon-calendar.filter-icon:hover, .bp3-icon.filter-icon.bp3-icon-eye-open:hover {
    background: transparent !important;
    transition: background .1s ease, color .3s ease;
    color: #00f800 !important;
    opacity: 1;
}

/* remove shadow border around calendar icon */
.bp3-button:not([class*="bp3-intent-"]), .bp3-button:not([class*="bp3-intent-"]):hover {
  box-shadow: none;
}

.block-ref-count-button {
    color: #75c6a3 !important;
    background: transparent;
    border: 1px solid #75c6a3;
    border-radius: 100px;
    z-index: 1000;
    transition: color .3s ease, border .3s ease;
    opacity: 1;
}

.block-ref-count-button:hover {
    color: #00f800 !important;
    background: transparent !important;
    border: 1px solid #00f800;
    border-radius: 100px;
    z-index: 1000;
    transition: color .3s ease,  border .3s ease;
}


.bp3-icon.bp3-icon-filter[style*="color: rgb(168, 42, 42);"] {
    color: red !important;
}

div[style*="position: absolute; z-index: 1000; top: 0px; right: 0px; opacity: 0.5;"] {
    opacity: 1 !important;
}

.bp3-popover-content .bp3-button {
    background: #ffffff82 !important;
}

.bp3-icon.bp3-icon-calendar.filter-icon

/*////////////////////////////////*/
/*                                */
/*     Embedded Block Styling     */
/*                                */
/*////////////////////////////////*/

.rm-embed-container:hover > .rm-embed-edit {
    right: 30px;
}

.rm-embed-inner-block-hide {
    margin-left: 0px !important;
}

.rm-embed-edit {
    margin-right: 5px;
    z-index: 1000;
}

/*/////////////////////////////*/
/*                             */
/*     Kanban Card Styling     */
/*                             */
/*/////////////////////////////*/

.kanban-column-container, .kanban-board {
    background-color: #2b2a2a;

}

.kanban-title {
    color: #ee6b00;
}

.kanban-column {
    background-color: #2b2a2a
}

.kanban-card {
    background-color: #5959591c
}

span[data-link-title="DONE"] .rm-page-ref {
    color: #00ee6b !important;
}

span[data-link-title="TODO"] .rm-page-ref {
    color: #ee4f00 !important;
}

span[data-link-title="DOING"] .rm-page-ref {
    color: #ffa900 !important;
}

span[data-link-title="TODO"] .rm-page-ref {
    color: #ee4f00 !important;
}
.kanban-card:hover {
    color: #00ee6b;
}

/*//////////////////////////*/
/*                          */
/*         Pomodoro         */
/*    thx to @Mappletons    */
/*                          */
/*//////////////////////////*/

.dont-focus-block.bp3-button, .rm-pomodoro {
  background: #ff6956 !important;
  color: #fff !important;
  font-family: Courier New; 
  padding: 4px 14px;
  line-height: 2em;
  font-weight: 600;
  border-radius: 2em;
  border: 1px solid #ed5845;
  transition:  background .2s ease, border .3s ease;
}


.dont-focus-block.bp3-button:hover {
    background: #5c9438 !important;
    border: 1px solid #2f512c;
    transition:  background .2s ease, border .3s ease;
}


.rm-pomodoro::first-letter {
  margin-right: 8px;
}

/* NEW */

/* Pro / Con Option tag coloring */
span[data-tag="pro"], span[data-tag="p"] {
    color: #00ee6b !important;
}

span[data-tag="con"], span[data-tag="c"] {
    color: #ee4f00 !important;
}

span[data-tag="choice"] {
    color: #EEAA00 !important;
}

select[style*="background-color: white;"] {
    background: transparent !important;
}

select option {
    background: rgba(0,0,0,0.7) !important;
    color: white;
}

/* Word Count */
.bp3-button:not([class*="bp3-intent-"]) {
    background: transparent !important;
    color: white !important;
    font-family: Courier New;
    transition: color .3s ease;
}

.bp3-button:not([class*="bp3-intent-"]):hover {
    transition: color .3s ease;
    color: #ff6f00 !important;
}

/* Query */
.rm-query-title {
  background: inherit !important;
  color: #c3bca8 !important;
  font-weight: 600;
}

/* Alias */
span[style*="background-color: rgb(235, 241, 245);"] {
    background: #2b2a2a !important;
    color: #c3bca8 !important;
  	border: 1px solid #c3bca8;
    transition: color .3s ease, border .3s ease;
}

span[style*="background-color: rgb(235, 241, 245);"]:hover {
    background: #2b2a2a !important;
    color: #ff6f00 !important;
    border: 1px solid #ff6f00;
    transition: color .3s ease, border .3s ease;
}

button {
  background: transparent !important;
}

/* diagram */
svg[style*="background-color: rgb(86, 112, 134);"] {
    background: #26272a !important;
}

div[style*="background-color: white"] {
    background: #26272a !important;
}

g rect {
    fill: #26272a !important;

}

rect[fill*="#fff"] {
    fill: #ff6f00 !important;
}

textarea[autocapitalize*="none"] {
    color: #c3bca8 !important;
}

foreignObject {
    cursor: -webkit-grab; 
  	cursor: grab;
}

button[style*="border: 0.5px solid rgb(206, 217, 224);"] {
  background: white !important;
}

button[style*="border: none"] {
  background: #ff6f00 !important;
}

.rm-emoji-button {
  background: transparent !important;
  border: 1px solid #c3bca8 !important;
}

div[style*="color: rgb(14, 90, 138);"] {
    color: #d9d9d9 !important;
}

/* chart */
svg[style*="background-color: white;"] {
    background: transparent  !important;
}

g circle {
    fill: #ff6f00 !important;
}
